
//Container Principal
.detailsFormat__main {
    padding: 32px;
    width: 72vw;
    
}

//Container de la Imagen
.detailsFormat__imgContainer {
    width: 70%;
    float: left;
    text-align: left;
    &-img{
        border-radius: 4px;
        width: 680px;
        height: 680px;
    }
}


//Container de la informacion de compra

.detailsFormat__infoContainer{
    width: 30%;
    float:  right;
    align-items: center;
    display: flex;
    flex-direction: column;

    &-state{
        margin-bottom: 16px;
        text-align: left;
        width: 100%;
    }

    &-title{
        font-size: 24px;
        margin-bottom: 32px;
        text-align: left;
        
    }

    &-price{
        font-size: 46px;
        margin-bottom: 32px;
        text-align: left;
        width: 100%;
    }

    &-btn{
        width: 100%;
        background-color: $button_color;
        color: $background_gray;
        border: none;
        height: 45px;
        border-radius: 2px;
        
        &:hover{
            background-color: $button-color-hover;
        }
    }
}






//Container de la descripcion
.detailsFormat__detailsContainer{
    float: left;
    display: flex;
    width: 70%;
    align-items: left;
    flex-direction: column;

    h2 {
        width: 100%;
        text-align: left;
        margin: 32px 0;
    }

    span{
        width: 100%;
        text-align: left;
        
    }
}