
.detailsScreen__main {
    width: 100vw;
    align-items: center;
    text-align: center;
    
}

.detailsScreen__box {
    display: flex;
    width: 74vw;
    margin: 50px auto;
    height: 100h;
    background-color: white;
    border-color: black;
}